soap_dev/src/main/resources/zip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.example.com/demosoap/zip" elementFormDefault="qualified">

    <xs:element name="checkZipRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zipXmlBase64" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkZipResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="isValid" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
